.main_footer {
  padding: 200px 0;
  position: relative;
  // overflow: hidden;
  @include mobileAndTablet {
    padding: 60px 0;
    overflow: hidden;
  }
  .container {
    z-index: 9;
  }
  &:after {
    content: '';
    float: left;
    width: 1000px;
    height: 1000px;
    background: url(../images/footer-flower.png) no-repeat left top;
    background-size: 100%;
    position: absolute;
    top: -200px;
    left: 0;
    @include mobileAndTablet {
      width: 100%;
      height: 100%;
    }
  }
  &:before {
    content: '';
    float: left;
    width: 400px;
    height: 560px;
    background: url(../images/footer-flower-down.png) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    top: -40px;
    right: 0;
    @include mobileAndTablet {
      width: 100%;
    }
  }
  .footer-social-media {
    float: left;
    h3 {
      color: $blue;
      @include rem(font-size, 50px);
      line-height: em(78px, 50px);
      font-weight: 800;
      @include mobileAndTablet {
        font-size: 30px;
      }
    }
    ul {
      display: flex;
      margin-top: 30px;
      margin-bottom: 30px;
      li {
        display: flex;
        margin-right: 10px;
        align-items: center;
      }
    }
  }
  .locations {
    margin-bottom: 20px;
    max-width: 80%;
    @include mobileAndTablet {
      max-width: 100%;
      margin-bottom: 40px;
    }
    h4 {
      background: url('../images/map-icon.png') no-repeat left center;
      padding-left: 40px;
      @include rem(font-size, 33px);
      line-height: em(62px, 33px);
      text-transform: uppercase;
      font-weight: 800;
      color: $blue;
      @include tablet {
        font-size: 26px;
      }
    }
    p {
      @include rem(font-size, 14px);
      line-height: em(22px, 14px);
      font-weight: 400;
    }
  }
  .google-map-link {
    color: $blue;
    border-bottom: 1px solid $blue;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 20px;
  }
  .insta-area {
    h4 {
      background: url('../images/instagram.png') no-repeat left center;
      padding-left: 40px;
      @include rem(font-size, 33px);
      line-height: em(62px, 33px);
      color: $blue;
      text-transform: uppercase;
      font-weight: 800;
      @include tablet {
        font-size: 26px;
      }
    }
  }
}
.testimonialsList {
  margin-bottom: 40px;
}

.rightSide {
  position: relative;
  z-index: 9999;
}

.testimonialsArchive {
  padding: 80px 0;
}

#infscr-loading {
  display: none !important;
}

.arrow-revert {
  transform: scaleX(-1);
}

.testimonialsArchiveLink {
  margin-top: 0px !important;
  margin-right: 0px !important;
  z-index: 9999;
  position: relative;
}
.woocommerce-Address > address,
.woocommerce-customer-details > address {
  color: #1c1949;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
}

.notFound {
  color: #1c1949;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400;
  margin-bottom: 15px;
}

#add_payment_method #payment ul.payment_methods,
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
  border-bottom: 0;
}

#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
  background-color: transparent;
}

.page-404 {
  .woocommerce-form {
    float: none;
    margin: 180px auto !important;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
  }
}

.returnHome {
  position: relative;
  z-index: 99999;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.leaf-square {
  background: url(../images/leaf_square.jpg) no-repeat 0 0;
}
.logo-area {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100%;
  img {
    width: 500px;
    margin-top: 0px;
  }
  h3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 80px;
    margin-top: -50px;
    font-family: 'Playfair Display', serif;
    @include mobile {
      font-size: 40px;
      margin-top: 60px;
    }
  }
}
.lang-popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 991;
  background: url(../images/leaf_square.jpg) no-repeat center;
  background-size: cover !important;
  h2 {
    font-size: 96px;
    font-weight: 800;
    text-align: center;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 30px;
    @include mobileAndTablet {
      font-size: 36px;
    }
  }
  select {
    width: 270px;
    padding: 10px;
    background: #fff;
    color: #707070;
    cursor: pointer;
    option {
      color: #707070;
    }
  }
  .select-area {
    bottom: 200px;
  }
}
#sb_instagram .sbi_photo {
  border-radius: 15px !important;
}

.mt-5 {
  margin-top: 15px;
}

.mt-3 {
  margin-top: 10px;
}
