body {
  overflow-x: hidden;
  position: relative;
  font-family: 'Martel Sans', sans-serif;
}
.main_header {
  background: #eae6e3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.main_content {
  margin-top: 145px;
  min-height: 100vh;
  @include mobile {
    margin-top: 90px;
  }
}
.logo {
  float: left;
  img {
    min-width: 143px;
    @include mobileAndTablet {
      min-width: auto;
    }
  }
  @include mobileAndTablet {
    width: 100px;
  }
}
.main-nav {
  float: left;
  @include rem(margin-top, 54px);
  margin-left: 0;
  @include mobileAndTablet {
    margin-left: 0;
    margin-top: 20px;
    display: none;
  }
  @include tablet {
    width: 100%;
  }

  ul {
    float: left;
    @include mobileAndTablet {
      margin-bottom: 40px;
    }
    @include tablet {
      width: 100%;
    }
    li {
      float: left;
      @include rem(margin-right, 40px);
      &:last-child {
        margin-right: 0;
      }
      @include mobileAndTablet {
        margin-right: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
      }

      a {
        @include rem(font-size, 20px);
        line-height: em(23px, 20px);
        color: #000;
      }
      &.current-menu-item {
        a {
          font-weight: 900;
          color: $green;
        }
      }
    }
  }
}
.right-side-header {
  float: right;
  @include rem(margin-top, 50px);
  @include mobileAndTablet {
    margin-top: 0px;
    display: flex;
    width: 100%;
  }
  &__cart {
    float: left;
    @include rem(margin-right, 30px);
    @include rem(margin-top, 2px);
  }
  &__social-media {
    float: left;
    @include rem(margin-right, 20px);
    @include mobileAndTablet {
      width: 50%;
      display: block;
      margin: 0 auto;
      float: none;
    }
    ul {
      float: left;
      @include mobileAndTablet {
        display: flex;
        width: 100%;
        margin-bottom: 0;
      }
      li {
        float: left;
        @include rem(margin-right, 10px);
        a {
          @include rem(font-size, 20px);
          line-height: em(30px, 20px);
        }
      }
    }
  }
  &__user-area {
    float: right;
  }
}

.hamburger {
  float: right;
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  font-size: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 5;
  background: none;
  top: 25px;
  margin-right: -8px;
  transition: transform 0.2s ease-in;
  display: none;
  @include tablet {
    position: absolute;
    right: 0;
  }
}

.hamburger:focus {
  outline: none;
}

.hamburger span {
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  right: 8px;
  height: 3px;
  background: $green;
}

.hamburger span::before,
.hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $green;
  content: '';
}

.hamburger span::before {
  top: 10px;
}

.hamburger span::after {
  bottom: -20px;
}

.hamburger span {
  background: $green;
  transition: background 0s 0.3s;
}

.hamburger span::before,
.hamburger span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.hamburger span::before {
  transition-property: top, transform;
}

.hamburger span::after {
  transition-property: bottom, transform;
}

.header_navigation__icon {
  display: none !important;
}

/* active state, i.e. menu open */

.hamburger.toggled span {
  background: none;
  top: 16px;
}

.hamburger.toggled span::before {
  top: 0;
  transform: rotate(45deg);
}

.hamburger.toggled span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.hamburger.toggled span::before,
.hamburger.toggled span::after {
  transition-delay: 0s, 0.3s;
}

.desktop-hidden {
  display: none;
}
@include mobileAndTablet {
  .mobile-hidden {
    display: none;
  }
  .desktop-hidden {
    display: block;
  }
  .hamburger {
    display: block;
  }
}
#add_payment_method table.cart img,
.woocommerce-cart table.cart img,
.woocommerce-checkout table.cart img {
  width: 100px;
}
