.owl-carousel {
  display: block;
}
.mainSlider {
  float: left;
  width: 100%;
  overflow: hidden;
  .main-slider {
    float: left;
    height: 600px;
    position: relative;
    @include mobileAndTablet {
      height: 100vh;
    }

    .item-content {
      &-img {
        position: absolute;
        float: left;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        &::after {
          position: absolute;
          left: 0;
          top: 0;
          content: ' ';
          float: left;
          width: 600px;
          height: 600px;
          background: url('../images/overlay.png') no-repeat 0 0;
          background-size: cover;
          @include mobileAndTablet {
            height: 100vh;
          }
          @include tablet {
            width: 100%;
          }
        }

        img {
          @extend %imgCropped;
        }
        .dsc {
          float: left;
          width: 510px;
          height: 100%;
          position: absolute;
          z-index: 9;
          top: 0;
          left: 50%;
          margin-left: -660px;
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          justify-content: center;
          @include mobileAndTablet {
            width: 100%;
            margin-left: 0;
            left: 0;
            padding-left: 15px;
          }
          @include tablet-big {
            margin-left: -480px;
          }
        }
      }
      h1 {
        color: $blue;
        @include rem(font-size, 40px);
        line-height: em(50px, 40px);
        font-weight: 800;
      }
      p {
        color: $blue;
        @include rem(font-size, 20px);
        line-height: em(28px, 20px);
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
  .owl-nav {
    position: absolute;
    top: 47%;
    width: 100%;
    z-index: 22;
    max-width: 100%;
    button {
      border: none;
      outline: none;
      span {
        display: none;
      }
    }
    .owl-next {
      width: 50px;
      height: 30px;
      float: right;
      background: url(../images/arrow-right.png) no-repeat 0 0 !important;
    }
    .owl-prev {
      width: 50px;
      height: 30px;
      float: left;
      background: url(../images/arrow-right.png) no-repeat 0 0 !important;
      transform: rotate(-180deg);
    }
  }
}
.item,
.owl-item,
.owl-stage,
.owl-stage-outer {
  height: 100%;
}
.green-btn {
  font-size: 18px;
  margin-top: 20px;
  line-height: em(26px, 20px) !important;
  background: $green !important;
  color: #fff !important;
  padding: 10px 30px !important;
  font-size: 18px !important;
  border-radius: 6px !important;
  font-weight: 800 !important;
  transition: $transition1 !important;
  &:hover {
    opacity: 0.8;
  }
}
.fullBlock {
  float: left;
  width: 100%;
}
.border-text {
  color: $blue;
  @include rem(font-size, 30px);
  line-height: em(28px, 30px);
  font-weight: 400;
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: 1px solid $green;
  @include mobileAndTablet {
    font-size: 24px;
  }
}
.welcome-section {
  @include rem(margin, 100px 0);
  @include mobileAndTablet {
    margin: 60px 0 20px;
  }
}
.top-services {
  float: left;
  width: 100%;
  @include rem(margin-top, 60px);
  h3 {
    color: $blue;
    @include rem(font-size, 50px);
    line-height: em(55px, 50px);
    font-weight: 800;
    @include rem(margin-top, 20px);
    @include mobileAndTablet {
      font-size: 34px;
    }
  }
  ul {
    display: flex;
    @include rem(margin-top, 80px);
    @include mobileAndTablet {
      display: block;
    }
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    li {
      display: flex;
      @include rem(margin-right, 100px);
      @include mobileAndTablet {
        margin-right: 0;
        margin-bottom: 30px;
        width: 100%;
      }
      @include tablet {
        width: auto;
      }
      img {
        display: inline-block;
        @include rem(margin-right, 10px);
        @include mobileAndTablet {
          width: 60px;
        }
      }
      p {
        color: $blue;
        @include rem(font-size, 20px);
        line-height: em(24px, 20px);
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.services-slider-holder {
  float: left;
  width: 90%;
  margin: 40px 0;
  @include mobileAndTablet {
    width: 100%;
  }
  .services-slider {
    float: left;
    width: 90%;
    height: auto;
    margin: 40px 0;
    @include mobileAndTablet {
      width: 100%;
      height: 100%;
    }
    .item {
      &-thumb {
        height: 500px;
        @include mobileAndTablet {
          height: 300px;
        }
        img {
          @extend %imgCropped;
        }
      }
    }
    .owl-stage-outer {
      width: 94%;
      display: inline-block;
      @include mobileAndTablet {
        width: 90%;
      }
    }
    .owl-dots {
      float: right;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      @include mobileAndTablet {
        height: 300px;
      }
      .owl-dot {
        display: block;
        width: 20px;
        height: 20px;
        margin-bottom: 10px;
        border-radius: 50%;
        background: #eae6e3;
        outline: none;
        &.active {
          background: $green;
        }
      }
    }
  }
}
.slider-dsc {
  p {
    color: $blue;
    @include rem(font-size, 18px);
    line-height: em(28px, 18px);
    font-weight: 400;
    margin-top: 30px;
  }
}
.social-media-default {
  margin-top: 68px;
  @include mobileAndTablet {
    margin-top: 40px;
  }
}

.trainer-section {
  padding: 200px 0;
  position: relative;
  background: #f8f4f4;
  @include mobileAndTablet {
    padding: 60px 0;
  }
  &:after {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/flower.png') no-repeat center top;
    background-size: 100%;
    // z-index: -1;
  }
  .container {
    position: relative;
    z-index: 5;
  }
  .trainer-item {
    margin-bottom: 20px;
    @include mobileAndTablet {
      margin-bottom: 40px;
    }
    .thumb {
      width: 100%;
      height: 300px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
      }
    }
    h4 {
      color: $green;
      @include rem(font-size, 34px);
      line-height: em(48px, 34px);
      font-weight: 900;
    }
    p {
      color: $blue;
      @include rem(margin-top, 30px);
      @include rem(font-size, 19px);
      line-height: em(28px, 19px);
    }
    .dsc {
      @include rem(margin-top, 20px);
      h5 {
        @include rem(font-size, 24px);
        font-weight: 900;
        color: $green;
      }
      p {
        @include rem(font-size, 14px);
        margin-top: 10px;
        word-break: break-all;
      }
    }
  }
}
.products-section {
  padding: 100px 0 120px;
  position: relative;
  // background: url(../images/overlay-flower.png) no-repeat center;
  &:after {
    content: '';
    float: left;
    width: 350px;
    height: 560px;
    background: url(../images/footer-flower-down.png) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    top: -160px;
    right: 0;
  }
  @include mobileAndTablet {
    padding: 60px 0 60px;
    overflow: hidden;
  }
  h2 {
    color: $green;
    @include rem(margin-top, 30px);
    @include rem(font-size, 50px);
    line-height: em(50px, 50px);
    font-weight: 800;
    text-transform: uppercase;
    @include mobileAndTablet {
    }
  }
  .product-item {
    margin-top: 60px;
    &:hover {
      .product-item-thumb img {
        transform: scale(1.05);
      }
    }
    &-thumb {
      width: 100%;
      height: 300px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 25px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        transform: scale(1);
        transition: $transition2;
        overflow: hidden;
      }
    }
    &-dsc {
      float: left;
      width: 100%;
      padding: 20px;
      text-align: center;
      background: #fff;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      h5 {
        color: $green;
        @include rem(font-size, 22px);
        line-height: em(30px, 22px);
        font-weight: 800;
      }
    }
  }
}
.offer-list {
  float: left;
  width: 100%;
  @include rem(margin-top, 200px);

  &-item {
    @include mobileAndTablet {
      margin-bottom: 20px;
    }
    h4 {
      color: $blue;
      @include rem(font-size, 30px);
      @include rem(padding-bottom, 20px);
      line-height: em(28px, 30px);
      font-weight: 400;
      display: inline-block;
      border-bottom: 1px solid $green;
    }
    h3 {
      color: $green;
      @include rem(font-size, 36px);
      @include rem(margin-top, 100px);
      line-height: em(60px, 36px);
      font-weight: 800;
    }
    p {
      color: $blue;
      @include rem(margin-top, 30px);
      @include rem(font-size, 19px);
      line-height: em(28px, 19px);
    }
    // &:nth-child(3) {
    //   transform: scale(1.15);
    //   @include mobileAndTablet {
    //     transform: scale(1);
    //   }
    // }
  }
  .offer-list-item-inner {
    width: 94%;
    text-align: center;
    background: #f8f4f4;
    border-radius: 20px;
    display: block;
    float: none;
    margin: 0 auto;
    display: flex;
    position: relative;
    .sale-badge {
      @include rem(font-size, 19px);
      width: 50px;
      height: 50px;
      position: absolute;
      right: 10px;
      top: -4px;
      color: #fff;
      font-weight: 600;
      line-height: 2em;
      background: url('../images/sale-icon.png') no-repeat center;
      background-size: 83%;
    }

    .offer-title {
      color: $blue;
      @include rem(font-size, 22px);
      line-height: em(40px, 22px);
      font-weight: 700;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .sessions {
      font-weight: 100;
      @include rem(font-size, 17px);
      line-height: em(27px, 17px);
    }
    p {
      color: $green;
      @include rem(font-size, 22px);
      line-height: em(49px, 22px);
      font-weight: 900;
      margin-top: 4px;
    }
    ul {
      float: left;
      width: 100%;
      padding: 0 30px;
      margin-top: 15px;
      li {
        @include rem(font-size, 13px);
        font-weight: 100;
        color: #606060;
        margin-bottom: 10px;
        padding: 10px;
        border-bottom: 1px solid $green;
      }
    }
    .buy-now {
      @include rem(width, 180px);
      display: inline-block;
      padding: 10px;
      color: #606060;
      @include rem(font-size, 18px);
      line-height: em(33px, 18px);
      border: 1px solid $green;
      border-radius: 20px;
      transition: $transition1;
      text-transform: uppercase;
      @include rem(margin-top, 35px);
      &:hover {
        background: $green;
        color: #fff;
      }
      @include tablet {
        width: 85%;
        font-size: 14px;
      }
    }
    .offer-list-area {
      float: left;
      width: 100%;
      margin: 40px;
      padding: 20px 0 30px;
      width: calc(100% - 80px);
      background: #fff;
      border-radius: 20px;
      @include tablet {
        margin: 26px;
        width: calc(100% - 50px);
      }
    }
  }
}
.testimonials {
  float: left;
  width: 100%;
  padding: 200px 0;
  background: url(../images/testimonial-flower.png) no-repeat top right #f8f4f4;
  @include mobileAndTablet {
    padding: 100px 0;
  }
  &__item {
    width: 100%;
    background-color: #fff;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    overflow: hidden;
    &__img {
      width: 100%;
      height: 350px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__dsc {
      width: 100%;
      padding: 20px;
      text-align: center;
      min-height: 160px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      h5 {
        @include rem(font-size, 22px);
        font-weight: 700;
        line-height: em(40px, 22px);
        color: $blue;
      }
      span {
        display: block;
        margin-top: 10px;
        @include rem(font-size, 16px);
        line-height: em(24px, 16px);
        color: #606060;
      }
    }
  }
  .leftSide {
    h2 {
      color: $green;
      @include rem(font-size, 55px);
      line-height: em(78px, 55px);
      font-weight: 900;
      @include mobileAndTablet {
        font-size: 35px;
      }
      @include tablet-big {
        font-size: 35px;
      }
    }
    p {
      color: $blue;
      @include rem(margin-top, 30px);
      @include rem(font-size, 19px);
      line-height: em(28px, 19px);
    }
  }
  .rightSide {
    padding-left: 60px;
    @include mobileAndTablet {
      padding-left: 0;
      margin-top: 30px;
    }
    @include tablet-big {
      padding-left: 0;
    }
    .dsc {
      width: 100%;
      float: left;
      background: #fff;
      padding: 20px 30px;
      border-radius: 20px;
      margin-bottom: 50px;
      p {
        color: $blue;
        @include rem(font-size, 17px);
        line-height: em(26px, 17px);
        font-weight: 400;
      }
    }
    .img {
      float: left;
      width: 102px;
      height: 102px;
      border-radius: 50%;
      overflow: hidden;
      @include mobileAndTablet {
        margin-bottom: 40px;
      }
    }
    .txt {
      float: left;
      width: calc(100% - 102px);
      margin-top: 20px;
      padding-left: 16px;
      h5 {
        color: $green;
        @include rem(font-size, 17px);
        line-height: em(26px, 17px);
        font-weight: 700;
      }
      span {
        color: $blue;
        @include rem(font-size, 15px);
        line-height: em(18px, 15px);
        font-weight: 400;
      }
    }
  }
  .archive-link {
    margin-top: 80px;
    margin-right: 20px;
    @include mobileAndTablet {
      margin-top: 50px;
    }
  }
}

.single-trainers-wrapper {
  padding-top: 80px;
  margin-top: 145px;
  @include mobile {
    margin-top: 65px;
  }
  .single-thumbnail {
    width: 100%;
    height: 600px;
    img {
      @extend %imgCropped;
      border-radius: 30px;
    }
  }
  .single-content {
    padding-left: 40px;
    @include mobileAndTablet {
      padding-left: 0;
    }
    h3 {
      color: $green;
      @include rem(font-size, 50px);
      line-height: em(78px, 50px);
      font-weight: 900;
      @include rem(margin-top, 20px);
      @include rem(margin-bottom, 20px);
      @include mobileAndTablet {
        font-size: 34px;
      }
    }
    p {
      @include rem(font-size, 13px);
      line-height: em(24px, 13px);
      font-weight: 600;
      color: #606060;
      @include rem(margin-bottom, 40px);
    }
  }
}

.default-single {
  background: #f8f4f4;
  padding-bottom: 60px;
  .single-thumbnail {
    width: 100%;
    height: 480px;
    img {
      @extend %imgCropped;
      border-radius: 30px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .dsc {
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px;
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    h3 {
      color: $green;
      @include rem(font-size, 33px);
      line-height: em(40px, 33px);
      font-weight: 800;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      @include mobileAndTablet {
        font-size: 24px;
      }
    }
  }
  .single-content {
    padding-left: 40px;
    padding-top: 40px;
    @include mobileAndTablet {
      padding-left: 0;
    }
    span {
      color: $green;
      @include rem(font-size, 37px);
      line-height: em(68px, 37px);
      font-weight: 400;
      @include rem(margin-bottom, 20px);
      @include mobileAndTablet {
        font-size: 34px;
      }
    }
    h4 {
      @include rem(font-size, 30px);
      line-height: em(55px, 30px);
      font-weight: 400;
      color: $blue;
      @include rem(margin-bottom, 40px);
    }
    p {
      @include rem(font-size, 13px);
      line-height: em(24px, 13px);
      font-weight: 600;
      color: #606060;
      @include rem(margin-bottom, 40px);
    }
    ul:not(.blocks-gallery-grid) {
      list-style: disc;
      padding-left: 15px;
    }
    li {
      @include rem(font-size, 13px);
      line-height: em(24px, 13px);
      font-weight: 600;
      color: #606060;
    }
    iframe {
      width: 100%;
    }
  }
}
.leaf-background {
  float: left;
  width: 100%;
  min-height: 100vh;
  background: url(../images/leaf-bg.jpg) no-repeat 0 0;
  background-size: 100%;
}
.form-holder {
  max-width: 1090px;
  width: 100%;
  height: 600px;
  margin: 80px auto !important;
  @include mobile {
    max-width: 100%;
    height: auto;
  }
  @include tablet {
    max-width: 100%;
    height: auto;
  }
  .woocommerce-form {
    position: relative;
    float: left;
    width: 623px;
    height: 100%;
    padding: 60px 70px !important;
    border: none !important;
    margin: 0 !important;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 0 !important;
    border-top-left-radius: 30px !important;
    border-bottom-left-radius: 30px !important;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    @include mobile {
      width: calc(100% - 30px);
      margin-left: 15px !important;
      border-top-right-radius: 30px !important;
      border-bottom-right-radius: 30px !important;
      padding: 40px !important;
    }
    @include tablet {
      width: calc(100% - 30px);
      margin-left: 15px !important;
      border-top-right-radius: 30px !important;
      border-bottom-right-radius: 30px !important;
      padding: 40px !important;
    }

    .form-head {
      text-align: center;
      margin-bottom: 45px;
      h3 {
        color: #000;
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 20px;
      }
      span {
        font-size: 13px;
        color: #000;
        font-weight: 100;
      }
    }
    .woocommerce-Input {
      padding: 21px 21px 21px 80px;
      border: none !important;
      border-radius: 30px;
      background: #fff;
      font-size: 15px;
      font-weight: 400;
      margin-bottom: 30px !important;
      color: #231f20;
      box-shadow: 0px 7px 17px -5px grey;
      outline: none;
      width: 100%;
      @include placeholder {
        font-size: 15px;
        color: #231f20;
        font-weight: 400;
      }
    }
    #username:focus,
    #username {
      background: url('../images/email-icon.png') no-repeat 20px center #fff !important;
    }
    #password:focus,
    #password {
      background: url('../images/password-icon.png') no-repeat 25px center #fff !important;
      margin-bottom: 13px !important;
    }
    .name:focus,
    .name {
      background: url('../images/name.png') no-repeat 25px center #fff !important;
      margin-bottom: 13px !important;
    }
    .show-password-input {
      width: 58px;
      height: 27px;
      margin-top: 4px;
      background: url('../images/eye-icon.png') no-repeat center;
      &:after {
        display: none;
      }
    }
    .woocommerce-form-login__rememberme {
      float: left;
      color: #231f20;
      font-weight: 100;
      font-size: 12px;
    }
    .lost-password {
      float: right;
      color: #231f20;
      font-weight: 100;
      font-size: 12px;
    }
    .woocommerce-form-register__submit,
    .woocommerce-form-login__submit {
      width: 232px;
      padding: 16px;
      color: #fff;
      background: $green;
      text-align: center;
      border-radius: 30px;
      margin: 50px auto;
      display: block;
      float: none;
      box-shadow: 0px 7px 17px -5px grey;

      &:hover {
        background: $green;
        opacity: 0.9;
        color: #fff;
      }
      @include placeholder {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
      }
    }
  }
  .form-dsc {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: $green;
    height: 100%;
    padding: 40px;
    text-align: center;
    border-top-right-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    @include mobile {
      width: calc(100% - 30px);
      margin-left: 15px !important;
      border-top-left-radius: 30px !important;
      border-bottom-left-radius: 30px !important;
    }
    h2 {
      color: #fff;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 40px;
    }
    p {
      color: #fff;
      font-weight: 100;
      font-size: 18px;
      line-height: em(34px, 16px);
    }
  }
}

.woocommerce-MyAccount-navigation {
  padding-top: 100px;
  ul {
    li {
      margin-bottom: 20px;
      a {
        color: $blue;
        @include rem(font-size, 20px);
        line-height: em(28px, 20px);
        font-weight: 600;
      }
      &.is-active {
        a {
          font-weight: 800;
        }
      }
    }
  }
}
.woocommerce-MyAccount-content {
  padding-top: 100px;
  p {
    color: $blue;
    @include rem(font-size, 16px);
    line-height: em(24px, 16px);
    font-weight: 400;
    a {
      color: $blue;
      text-decoration: underline;
    }
  }
  a {
    color: $blue;
  }
  h3 {
    color: $blue;
    @include rem(font-size, 24px);
    line-height: em(34px, 24px);
    font-weight: 800;
    margin-bottom: 20px;
  }
  form {
    .form-row {
      label {
        color: $blue;
        @include rem(font-size, 16px);
        line-height: em(24px, 16px);
        font-weight: 400;
        margin-bottom: 10px;
      }
      input[type='password'],
      input[type='tel'],
      input[type='email'],
      input[type='text'] {
        padding: 10px;
        background: #fff;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 30px !important;
        color: #231f20;
        border: 0;
        border-bottom: 1px solid $blue;
        @include placeholder {
          font-size: 15px;
          color: #231f20;
          font-weight: 400;
        }
      }
      select {
        padding: 10px;
      }
    }
  }
}
.addresses {
  margin-top: 40px;
}

.woocommerce-account .addresses .title .edit {
  float: left;
  margin-bottom: 40px;
}
.lost_reset_password {
  max-width: 900px;
  display: block;
  margin: 60px auto;
}

.single-product {
  .summary {
    h2 {
      color: $blue;
      @include rem(font-size, 36px);
      @include rem(margin-top, 40px);
      line-height: em(50px, 36px);
      font-weight: 800;
      margin-bottom: 10px;
    }
    span {
      color: $green;
      @include rem(font-size, 24px);
      font-weight: 400;
    }
    h4 {
      color: $blue;
      @include rem(font-size, 20px);
      @include rem(margin-top, 10px);
      line-height: em(34px, 20px);
      font-weight: 400;
    }
    .price {
      color: $green !important;
      font-size: 34px !important;
      @include rem(margin-top, 40px);
      line-height: em(60px, 34px);
      font-weight: 800;
    }
    .single_add_to_cart_button {
      width: 150px !important;
      font-weight: 700 !important;
      font-size: 20px !important;
      text-transform: uppercase;
      margin-right: 10px;
      margin-top: 40px;
    }
  }
  .product_meta {
    hr {
      display: none;
    }
  }
  .product-content {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid $green;
    font-size: 16px;
    color: #231f20;
    line-height: 1.3em;

    p {
      font-size: 16px;
      color: #231f20;
      line-height: 1.3em;
      margin-bottom: 15px;
    }
  }
}
.slick-arrow {
  display: none !important;
}
.wpgs-nav .slick-slide {
  height: 90px;
  border-radius: 15px;
  img {
    height: 100% !important;
    object-fit: cover;
    opacity: 1 !important;
    border-radius: 15px;
  }
}
body.single-product {
  background: #f8f4f4;
}
#customer_details {
  .woocommerce-billing-fields {
    h3 {
      color: #231f20;
      @include rem(font-size, 40px);
      line-height: em(50px, 40px);
      font-weight: 700;
      margin-bottom: 22px;
    }
    input[type='email'],
    input[type='tel'],
    input[type='text'] {
      background: #f2f2f3;
      @include rem(font-size, 15px);
      font-weight: normal;
      line-height: em(20px, 15px);
      border: none;
      padding: 10px;
      color: #231f20;
      border-top: 1px solid #707070;
    }
  }
  #order_review_heading {
    color: #231f20;
    @include rem(font-size, 40px);
    line-height: em(50px, 40px);
    font-weight: 700;
    margin-bottom: 22px;
  }
}

#order_comments_field {
  display: none;
}
.woocommerce-additional-fields {
  h3 {
    display: none;
  }
}
#order_review {
  .shop_table {
    border: none;
    td,
    tr,
    th {
      border: none;
    }
  }
}
.place-order {
  background: #f2f2f3;
  p {
    font-size: 12px;
    font-weight: normal;
    line-height: em(20px, 12px);
  }
  .validate-required {
    margin-top: 14px !important;
  }
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  float: left !important;
  width: 280px;
}
.wc_payment_methods {
  background: #f2f2f3;
  margin-bottom: 20px !important;
}
.woocommerce-cart-form {
  margin-top: 40px;
}
#coupon_code {
  width: 200px;
  padding: 11px;
}
img.figlio {
  border-radius: 30px !important;
}
.vbox-next {
  span {
    border: none;
    transform: rotate(0deg);
    width: 36px;
    height: 30px;
    background: url(../images/arrow-right.png) no-repeat 0 0 !important;
  }
}
.vbox-prev {
  span {
    border: none;
    float: left;
    transform: rotate(-180deg);
    width: 36px;
    height: 30px;
    background: url(../images/arrow-right.png) no-repeat 0 0 !important;
  }
}
.vbox-close {
  right: 20px;
  color: #fff !important;
  background: $green !important;
  font-size: 30px !important;
}
.vbox-overlay {
  background: rgba(255, 255, 255, 0.85);
}
form.woocommerce-checkout {
  margin-top: 100px;
  @include mobile {
    margin-top: 50px;
  }
}
#account_password {
  height: 40px;
}

html .form-register-holder {
  float: left;
  width: 100%;
  margin: 180px 0 !important;
  border: 0 !important;
  @include mobile {
    margin: 80px 0 !important;
  }
  #store_field {
    width: 47%;
    margin-bottom: 20px;
    @include mobile {
      width: 100%;
    }
  }
  .form-row {
    margin-bottom: 20px !important;
  }
  #sessions {
    width: 50%;
    @include mobile {
      width: 100%;
    }
  }
  .woocommerce-input-wrapper {
    label {
      cursor: pointer;
    }
    input {
      float: left;
      margin-top: 6px;
      margin-right: 10px;
      cursor: pointer;
      margin-left: 0;
    }
  }
  .form-row-last {
    width: 100%;
    textarea {
      background: #f2f2f3;
      font-size: 15px;
      font-size: 0.9375rem;
      font-weight: 400;
      line-height: 1.33333em;
      border: none;
      padding: 10px;
      color: #231f20;
      border-top: 1px solid #707070;
    }
  }
}
.pd-100 {
  padding-left: 100px;
  @include mobile {
    padding-left: 0;
  }
}
@include mobile {
  .woocommerce form .form-row-first,
  .woocommerce form .form-row-last,
  .woocommerce-page form .form-row-first,
  .woocommerce-page form .form-row-last {
    width: 100%;
  }
  #place_order {
    margin-bottom: 40px;
  }
}
.select-area {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  @include mobile {
    bottom: 55px;
  }
  .lang-popup-select-wrap {
    display: block;
    margin: 0 auto;
    left: auto;
    display: flex;
  }
  #lang-popup-select {
    border: none !important;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.2);
    line-height: 1;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    display: inline-block;
    bottom: 0;
    li {
      // margin-right: 60px;
      display: inline-block;
      &:last-child {
        margin-right: 0;
      }
      @include mobile {
        width: 100%;
        margin-right: 0;
        text-align: center;
      }
      a {
        display: inline-block;
        padding: 30px 20px !important;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        min-width: 170px;
        text-align: center;
        &:hover {
          background: rgba(255, 255, 255, 0.4);
        }
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .column-2-5 {
    width: 20%;
  }
}
