@include mobileAndTablet {
  .mobile-header {
    float: left;
    display: inline-block;
    margin-top: 27px;
    margin-left: 36px;
    a {
      margin-right: 10px;
      width: 30px;
      img {
        width: 25px;
        height: 25px;
      }
    }
  }
}
@include tablet {
  .mobile-header {
    float: right;
    margin-right: 40px;
  }
}

@include mobileAndTablet {
  .woocommerce-cart-form {
    .coupon {
      display: flex;
    }
  }
}
